.self-potrait-sm-container {
    top: 2.5%;
    left: 2.5%;
    height: 30%;
    width: 30%;
    border: 1px solid black;
}

.self-potrait-lg {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.name-sm {
    font-size: 10px;
}
